body {
    font-family: Arial, sans-serif;
    background-color: #519dbe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.choice {
    margin-bottom: 20px;
}

.choice button {
    font-size: 1.2em;
    padding: 12px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #cfe0f4;
    color: rgb(51, 44, 44);
    font-style: italic;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

.choice button:hover {
    background-color: #0056b3;
    color: #eee;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

#board div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #ccc;
}

#board div:nth-child(odd) {
    background-color: #eee;
}

#message {
    font-size: 1.5em;
    margin-top: 20px;
}
